<div class="container">
    <h2>Insert Transaction</h2>
    <form>
      <div class="form-row">
        <div class="form-group">
          <label>Year</label>
          <select [(ngModel)]="transaction.year" name="year" required>
            <option *ngFor="let y of years" [value]="y">{{ y }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label>Month*</label>
          <select [(ngModel)]="transaction.month" name="month" required>
            <option *ngFor="let m of months" [value]="m">{{ m }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label>Date*</label>
          <input type="number" [(ngModel)]="transaction.date" name="date" required />
        </div>
  
        <div class="form-group">
          <label>Description*</label>
          <input type="text" [(ngModel)]="transaction.description" name="description" required />
        </div>
  
        <div class="form-group">
          <label>Amount*</label>
          <input type="number" [(ngModel)]="transaction.amount" name="amount" required />
        </div>
  
        <div class="form-group">
          <label>Type*</label>
          <select [(ngModel)]="transaction.type" name="type" required>
            <option value="Debit">Debit</option>
            <option value="Credit">Credit</option>
          </select>
        </div>
      </div>
  
      <button type="button" (click)="insertTransaction()">Insert</button>
    </form>
    <div>
      <table class="table">
        <thead>
          <tr>
            <td>Year</td>
          <td>Month</td>
          <td>Date</td>
          <td>Description</td>
          <td>Amount</td>
          <td>Type</td>
          <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2025</td>
          <td>June</td>
          <td>17</td>
          <td>Savings</td>
          <td>2000</td>
          <td>Debit</td>
          <td>
            <button >Edit</button>
            <button style="background-color:red" >Delete</button>
          </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  